<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062689372459-6ovt88hegptrbmvh9ghkdl66640ealml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062689372459-6ovt88hegptrbmvh9ghkdl66640ealml</string>
	<key>API_KEY</key>
	<string>AIzaSyDIWb1to4uWV-AYZ6bKmNu5fsIVJurzjPs</string>
	<key>GCM_SENDER_ID</key>
	<string>1062689372459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.congresso.app.ios</string>
	<key>PROJECT_ID</key>
	<string>app-congresso</string>
	<key>STORAGE_BUCKET</key>
	<string>app-congresso.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062689372459:ios:ba494cacd376b0f5a4ad6e</string>
</dict>
</plist>